        .about-me {
        @include container;
        @include clearfix;
        margin-top: 5em;
        //margin-bottom: 5em;
        //background-color: $rich-white;
    }
    
    .about-img {
        max-height: 25em;
        border-radius: 1%;
       // @media (min-width: 42em) {
           // float: left;
          //  margin-right: .5em;
      //  }
        @media (orientation: landscape){
            float: left;
            margin-right: .5em;
        }
    }
    
    .about-title {
        margin-bottom: .25em;
        color: $middle-yellow-red;
    }
    
    .about-subtitlle {
        margin: .5em 0;
        
    }
.about-title {
    color: $middle-yellow-red;
    font-weight: 900;
    

}


.about-subtitlle {
    color: $old-green;

    
}
.about-text {
    color: $gray;
}
    
    @supports (display: grid) {
        .about-me {
            display: grid;
            grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
            grid-column-gap: .2em;
        }
        .about-img {
            grid-column: port / img ;
            grid-row: 1 / 2 ;
            
            
            @include mq {
                grid-row: 1 / 4 ;
            }
            
           
        }
        .about-title {
            grid-column: name / port ;
            grid-row: 1 / 2;
            
        }
        .about-subtitlle,
        .about-text {
            grid-column: port / port ;
            
            
            
            @include mq {
                grid-column: img-end / port-end;
            }
            
        }
        
        .about-subtitlle {
            grid-row: 2 / 3; 
            
            
            
            
        }
        

        .about-text { 
            grid-row: 3 / 4; 
            
           
        }
           
    
}

