        .about-me {
        @include container;
        @include clearfix;
        margin-top: 5em;
       
      
        
        //margin-bottom: 5em;
        //background-color: $rich-white;
    

            
    }


    
    .about-img {
        max-height: 25em;
        border-radius: 1%;
        opacity: 0;
        transform: /*translateY(4rem)*/ translate(-20rem) scale(.2);
        transition: transform 2.5s .35s cubic-bezier(.65,1.54,.52,1),
              opacity .9s .25s ease-out;
        z-index: 1;
         
    
        @media (orientation: landscape){
            float: left;
            margin-right: .5em;
        }
    }
    
    .about-title {
        margin-bottom: .25em;
        color: $middle-yellow-red;
        z-index: 10;
        opacity: 0;
        transform: translateY(-1.5rem) scale(.2);
        transition: transform 3s .34s cubic-bezier(.88,1.74,.42,.99);
            
        
    }
    
    .about-subtitlle {
        margin: .5em 0;
        transform: translateZ(-20rem) translate(20rem) scale(.2);
        transition: transform 2.5s .30s cubic-bezier(0,1.54,.42,.99);
         opacity: 0;
            
       
    }
.about-text {
    transform: translateZ(-20rem) translate(20rem) scale(.2);
        transition: transform 2.5s .30s cubic-bezier(0,1.54,.42,.99);
         opacity: 0;
            
}


.about-title {
    color: $middle-yellow-red;
    font-weight: 900;
    

}


.about-subtitlle {
    color: $old-green;

    
}
.about-text {
    color: $gray;
}

.about-img.is-visible,
.about-title.is-visible,
.about-subtitlle.is-visible,
.about-text.is-visible {
    
    opacity: 1;
    transform: none;
}


    
    @supports (display: grid) {
        .about-me {
            display: grid;
            grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
            grid-column-gap: .2em;
            
        }
        .about-img {
            grid-column: port / img ;
            grid-row: 1 / 2 ;
            
            
            @include mq {
                grid-row: 1 / 4 ;
            }
            
           
        }
        .about-title {
            grid-column: name / port ;
            grid-row: 1 / 2;
            
           
        }
        .about-subtitlle,
        .about-text {
            grid-column: port / port ;
            
            
            
            @include mq {
                grid-column: img-end / port-end;
            }
            
        }
        
        .about-subtitlle {
            grid-row: 2 / 3; 
            
            
            
            
        }
        

        .about-text { 
            grid-row: 3 / 4; 
            
           
        }
           
    
}

 
