.contact {
    @include container;
    //text-align: center; // to moze w cert
    padding: 5em 0;
    
   
   h1{
        text-align: center;
        color: $zomp;
        font-weight: 900;
       opacity: 0;
        transform: translateY(-1.5rem) scale(.2);
        transition: transform 3s .34s cubic-bezier(.88,1.74,.42,.99);
    }
    
    h1.is-visible {
        opacity:1;
        transform: none;
    }
}

form {
    transform: /*translateY(4rem)*/ translate(-20rem) scale(.2);
        transition: transform 2.5s .35s cubic-bezier(.65,1.54,.52,1),
              opacity .9s .25s ease-out;
}

form.is-visible {
    opacity: 1;
    transform: none;
}


form {
    display: flex;
    flex-direction: column;
    
    @supports (display: grid) {
        @include mq {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1em;
        grid-template-areas: 
          "name     email"
          "message  message"
          "  .      button";
            
            
        .name {
          grid-area: name;
        }

        .email {
          grid-area: email;
        }

        .message {
          grid-area: message;
           
          textarea {
            height: 10em;
              
          }
        }

        
        .button {
          grid-area: button;
        }
        }
            
    } 
}
label {
    display: block;
    margin-top: 1em;
    color:$queen-blue;
    
}

input, textarea {
    box-sizing: border-box;
    display: block;
    padding: .75em;
    width: 100%;
    min-width: 15em;
    background: lighten($light-gray, 7%);
    border: 1px solid $light-gray;
    font-size: 1.2rem;
}

.button {
    display: inline-block;
    width: auto;
    min-width: auto;
    margin-top: 1em;
    margin-left: auto;
    background: $zomp;
    border: none;
    @include sans-serif ($fs: 2.5rem, $color: $white);
    padding: .5em 1.5em;
    transform: translateZ(-20rem) translate(20rem) scale(.2);
        transition: transform 2s .35s cubic-bezier(.88,1.74,.42,.99);
         opacity: 0;
}
.button.is-visible {
    opacity:1;
    transform: none;
}