.menu-button {
  position: absolute;
  top: 3em;
  left: 3em;
  background: transparent;
  border: 0;
  transition: transform ease-in-out 250ms;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

nav {
  position: absolute; /// sprw
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
  z-index: 10;

  transform: translateX(-100%);
  transition: transform ease-out 250ms;
}

nav {
  li, a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: stretch;
  background: $old-green;
}

nav li {
  text-align: center;

  &:not(:last-of-type) {
    border-bottom: 1px solid $middle-yellow-red;
  }
}

nav li:hover {
  background: rgba($dark-old-green, .2);
}

nav a {
  @include sans-serif($fs: 1.5rem, $color: $middle-yellow-red);
  text-decoration: none;
    @media(min-width: 1024px){
        font-size: 4rem;
    }
}

.close-icon {
  display: none;
}

.hamburger {
    display: block;
}
.nav-is-open {
      height: 100vh;
      overflow-y: hidden;

      nav {
        transform: translateX(0);
      }

      .container-all {
        transform: translateX(80%);
      }

      .hamburger {
        display: none;
      }

      .close-icon {
        display: block;
      }

      .menu-button {
        transform: translateX(-70%);
      }
}

.container-all {
  transition: transform ease-out 250ms;
}
