$white: #FFFFFF;
$gray: #686767;
$light-gray: #E4DFDF;
$zomp: #39a2ae;
$old-green: #749c75;
$dark-old-green: #405640;
$middle-yellow-red: #eaa638;
$blue-lagoon: #95b5d8;
$queen-blue: #447695;
$rich-black: #3f2728;
$rich-white: #edeae8;